<h1>My Health Record</h1>

<ul>
  <li><%= link_to 'user stories', demo_user_stories_path %></li>
  <li><%= link_to 'legal instructions', demo_legal_path %></li>
  <li><%= link_to 'handling hl7', demo_hl7_path %></li>
  <li><%= link_to 'business model', demo_business_model_path %></li>
</ul>
