<h1>My Health Record</h1>

<ul>
  <li>user stories</li>
  <li><%= link_to 'legal instructions', demo_legal_path%></li>
  <li>handling hl7</li>
  <li>handling faxes</li>
  <li>business model</li>
</ul>
