<h1> User Stories </h1>

<ul>
  <li>"Offices kept asking me for my medical records, and retrieving them was a hassle..."</li>
  <li>"After my visit, I asked my doctor for a copy of my medical records. They said they could either fax it to me or send me an hl7 string. I said either works with MyHealthRecord!"</li>
  <li>"I was overwhelmed with switching between portals. I needed one place to go to manage all the portals I signed up for."</li> 
</ul>
